html,
body {
  
  height: 100%;
}

body {
margin-left: 40%;
margin-top: 4%;
  display: flex;
  align-items:center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgb(18, 38, 116);
  
}

.form-signup {
  align-items: center;
  max-width: 330px;
  padding: 15px;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}