<html>
    <head>
        
    </head>
    
    <body  background="static/image/slide4.jpeg" >
        <img src="static/image/slide3.jpeg"  >
        <h1><center>CODING</center></h1>
        <br><br>
        <p><center><italic> <h3>
            Computers are amazing, but they can’t think for themselves (yet!). They require people to give them instructions. Coding is a list of step-by-step instructions that get computers to do what you want them to do. Coding makes it possible for us to create computer software, games, apps and websites.
Coders, or programmers, are people who write the programmes behind everything we see and do on a computer. When children learn to code, it helps them to develop essential skills such as problem solving, logic and critical thinking. Through coding, children can learn that there’s often more than one way to solve a problem, and that simpler and more efficient solutions are often better. Learning to code encourages children to become creators, not just consumers, of the technology they use.
While learning to code at the primary school level, children are encouraged to think critically and strategically to solve problems—often simple puzzles like getting an onscreen character to move around a maze. For younger children, visual blocks are often used to represent programming concepts and terminology, such as ‘procedures’, ‘loops’ and ‘conditional instructions’.
Children are naturally curious and creative, and they can pick up simple coding skills (and have lots of fun!) through online games and tutorials.
      </h3> </italic></center></p>
       <br><br><br>
       <p><h1><center>Have Fun while coding</center></h1></p>
    </body>


</html>