<html>
    <head>
        
    </head>
    
    <body  background="static/image/slide2.jpeg" >
        <br>
        <br>
        <h1><center>Welcome to Coding Home Page</center></h1>
        <br><br>
        <p><center><italic>
            Coding can help you understand technology. ...<br>
            It can enhance problem-solving skills. ...<br>
            Coding can be applied to data visualisation. ...<br>
            Coding can complement creativity. ...<br>
            Coding is a universal language. ...<br>
            Coders are part of a community. ...<br>
            Coding can improve career prospects.<br>
       </italic></center></p>
       <br><br><br>
       <p><h1><center>Sign In !!! *Improve your skills*</center></h1></p>
    </body>


</html>